# Python virtual environment
.venv/
env/
venv/


# Editor / IDE files
/.idea/
/.vscode/

# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Logs
*.log


# Secret files (if any)
*.pem
*.key

