# Python virtual environment
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Editor / IDE files
/.idea/
/.vscode/

# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python egg / distribution
*.egg
*.egg-info/
dist/
build/

# Secret files (if any)
*.pem
*.key

